# ================================================
# GLPI + Tema DETRAN Ceará - Configuração
# ================================================

# Versões das imagens Docker
MARIADB_TAG=11.4
GLPI_TAG=latest

# Porta de acesso ao GLPI
GLPI_PORT=8095

# Timezone
TIMEZONE=America/Fortaleza

# ================================================
# Banco de Dados MariaDB
# ================================================
DB_HOST=glpi-db
DB_NAME=glpi
DB_USER=glpi
DB_PASS=SuaSenhaSeguraAqui
DB_ROOT_PASS=SenhaRootSeguraAqui
